{{> head }}
    
    {{> navbar }}

      <div class="row p-4">
       
        <div class="col">
        <h1>Cronos</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut posuere tellus. Integer pharetra, erat nec iaculis porta, diam eros condimentum odio, a mollis lectus diam vitae ante. Pellentesque non leo eu tellus eleifend finibus id quis ex. Nunc rhoncus felis vitae congue luctus. Maecenas ornare ullamcorper diam, et sagittis ante eleifend non. Pellentesque suscipit nunc leo, quis faucibus lectus pulvinar sit amet. Sed varius mollis dui eget vestibulum. Maecenas quis lectus sapien. Pellentesque posuere nunc eget cursus hendrerit. Sed erat erat, hendrerit sed neque at, semper imperdiet arcu. In ullamcorper, dolor sed consectetur rutrum, nisi tortor blandit leo, sit amet dictum leo lorem eu felis. Morbi ut nisi nec turpis viverra egestas. </p>
        <p>Curabitur ullamcorper pulvinar ex, at egestas est pulvinar condimentum. Sed mauris ipsum, euismod eu sapien quis, cursus suscipit augue. Cras a blandit lorem. Proin vel libero suscipit, viverra dui quis, faucibus diam. Morbi egestas id turpis a varius. Sed feugiat justo et tortor condimentum, non porta lacus tristique. Integer nec dui ac nunc pharetra faucibus. Curabitur sit amet pellentesque mauris. </p>
        </div>

        <div class="col p-3 align-middle">
            <img class="img-thumbnail" src="assets/img/cronos.png" alt="Cronos" />
        </div>

      </div>

{{> footer }}